.content {
	flex-grow: 1;
	margin-left: 25px;
	min-width: 42%;
/*	background: #383838;*/
	padding: 17px;
	border-radius: 10px;
}

.title {
	font-style: 'Mulish', sans-serif;
	font-size: 25px;
}

a {
	cursor: pointer;
}

.image {
	height: 80px;
	border-radius: 5px;
	width: auto;
}

.chunk {
	display: flex;
	align-items: top;
	width: 100%;
}

.descript {
	margin-left: 20px;
	font-size: 15px;
}