.categor {
	font-family: 'Copse', Arial;
	font-size: 44px;
	text-decoration: underline;
	margin: 35px 0 0 0;

}

.descriptor {
	font-size: 19px;
	font-style: italic;
	width: 66%;
	margin-top: 15px;
}

.content {
	padding: 40px 90px;
}

.row {
	display: flex;
}

.row2 {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.git {
	flex-grow: 1;
	text-align: center;
	margin: 15px 0 25px 0;
}
