.content {
	margin-left: 8%;
	margin-top: 35px;
}

.header {
	font-family: 'Mulish', sans-serif;
	font-size: 23px;
	margin-bottom: 6px;
	color: #2356fc !important;
}

.header:hover {
	font-style: italic;
}

.entry {
	display: flex;
	align-items: center;
	border-bottom: 1px dotted white;
	width: 75%;
}

.image {
	height: 70px;
	width: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 10px;
	display: inline;
}

.descript {
	width: 100%;
	margin-left: 20px;
	color: #c9c9c9;
}